.registerPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 2rem;
}
.logoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 10rem;
    height: 3.5rem;
}

.registerDetailsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.input{
    width: 20rem;
    padding: 0.8rem;
    border-radius: 4px;
    border: 1px solid #a7a7a7;
    outline: none;
}
.registerButton{
    width: 20rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    background-color: #4C71F0;
    font-size: 1rem;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
}
.loginLink{
    color: #4C71F0;
    font-weight: bolder;
}

.continueWithGoogleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.orContainer {
    width: 18rem; 
    text-align: center; 
    border-bottom: 1px solid #a7a7a7;
    color: #a7a7a7; 
    line-height: 0.1em;
} 
.orSpan{ 
    background:#fff; 
    padding:0 10px; 
}
.continueWithGoogleButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    width: 20rem;
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 1rem;
}
.googleIcon{
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (min-width: 600px) {
    .input{
        width: 45vw;
    }
    .registerButton{
        width: 45vw;
    }
}