.continueWithGoogleContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.orContainer {
    width: 18rem; 
    text-align: center; 
    border-bottom: 1px solid #a7a7a7;
    color: #a7a7a7; 
    line-height: 0.1em;
} 
.orSpan{ 
    background:#fff; 
    padding:0 10px; 
}
.continueWithGoogleButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    width: 20rem;
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 1rem;
}
.googleIcon{
    width: 1.5rem;
    height: 1.5rem;
}