.newsCards{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}
.newsCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 88vw;
    border: none;
    border-radius: 1rem;
    background-color: #ededed;
    position: relative;
}
.newsImage{
    width: 88vw;
    height: 12rem;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.newsDetailsContainer{
    padding: 1rem 10px;
}
.newsTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: black
}
.newsTitle{
    font-size: 1rem;
    font-weight: bolder;
}
.saveIconContainer{
    background-color: #4C71F0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
}
.savedIconContainer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
}
.savedIcon{
    color: #4C71F0;
    font-size: 1rem;
}
.saveIcon{
    color: white;
    font-size: 1.2rem;
}
.newsAuthorAndDate{
    font-size: 0.8rem;
    margin: 10px 0;
    color: #4c71f0;
    font-weight: bold;
}
.newsbody{
    font-size: 0.9rem;
    color: black;
}
.readMore{
    font-size: 0.8rem;
    color: #4c71f0;
    font-weight: bolder;
    text-decoration: underline;
}

@media screen and (min-width: 600px) {

    .newsCards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80vw;
        margin: auto;
    }
    .newsCard{
        width: 40vw;
        height: 55vh;
        margin-bottom: 1rem;
    }
    .newsImage{
        width: 30vw;
    }
}