.categoryContainer{
    display: flex;
    gap: 1rem;
    width: 100vw;
    overflow-x: scroll;
    padding: 1rem;
}
.categoryContainer::-webkit-scrollbar{
    display: none;
}
.categoryText{
    white-space: nowrap;
    font-weight: bold;
    font-size: 0.9rem;
}
.activeCategoryText{
    white-space: nowrap;
    color: #4C71F0;
    font-weight: bolder;
}

@media screen and (min-width: 600px) {
    /* .categoryContainer{
        justify-content: center;
        gap: 2rem;
    } */
    .categoryText{
        cursor: pointer;
    }
    .activeCategoryText{
        cursor: pointer;
    }
    
}