.storiesContainer{
    display: flex;
    gap: 1rem;
    width: 100vw;
    overflow-x: scroll;
    padding: 1rem;
}
.storiesContainer::-webkit-scrollbar{
    display: none;
}
.discoverText{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: white;
    background-color: #4C71F0;
    font-size: 0.7rem;
    font-weight: bold;
}
.person{
    width: 4rem;
    border-radius: 50%;
    /* border: 2px solid transparent;
    border-image: linear-gradient(to right, pink, blue);
    border-image-slice: 1;  */
}


/* @media screen and (min-width: 600px) {
    .storiesContainer{
        justify-content: center;
        gap: 2rem;
    }
} */