.newsContainer{
    margin-top: 4.5rem;
}
.newsImageContainer{
    position: relative;
    width: 100vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}
.newsImage{
    position: fixed;
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    object-position: center top;
}
.overlay{
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    width: 100%;
    height: 50vh ;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: 1; 
}
.saveIconContainer{
    position: absolute;
    top: 3vh;
    right: 2vh;
    z-index: 10;
    background-color: #4C71F0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
}
.savedIconContainer{
    position: absolute;
    top: 3vh;
    right: 2vh;
    z-index: 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 50%;
}
.savedIcon{
    color: #4C71F0;
    font-size: 1rem;
}
.saveIcon{
    color: white;
    font-size: 1.2rem;
}
.newsTitle{
    position: absolute;
    top: 35vh; 
    z-index: 1;
    color: white;
    padding: 1rem;
}
.newsAuthor{
    position: absolute;
    top: 45vh;
    z-index: 10;
    color: white;
    padding: 1rem;
    font-size: 0.8rem;
}

@media screen and (min-width: 600px) {
    .newsContainer, .newsContainerDark{
        padding-left: 55vw;
    }
    .newsHeaderContainer{
        position: fixed;
        height: 85vh;
        width: 50vw;
        top: 4rem;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1rem;
        margin: 1rem;
    }
    .newsImage{
        height: 85vh;
        width: 50vw;
    }
    /* .overlay{
        height: 100%
    } */
    .newsTitle{
        top: 70%;
        bottom: 3vh;
    }
    .newsAuthor{
        top: 85%;
        bottom: 0;
    }
}