.newsCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5rem;
    margin-top: 4.5rem;
}
.newsCard{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    width: 93vw;
    padding: 10px;
    border-radius: 1rem;
}
.newsCard:hover{
    background-color: #ebebeb;
    color: black;
}
.newsImageContainer{
    width: 6rem; 
    height: 5rem;
}
.newsImage{
    width: 6rem;
    height: 5rem;
    object-fit: cover;
    object-position: center top;
}
.newsTitle{
    font-weight: bold;
}
.newsTitleLong{
    display: none;
}
.newsAuthor{
    font-size: 0.8rem;
    color: #4C71F0;
    font-weight: bold;
}


@media screen and (min-width: 600px) {

    .newsTitleLong{
        display: block;
        font-weight: bold;
    }    
    .newsTitle{
        display: none;
    }
    
}