.verticalSwiper {
    width: 100vw;
    height: 90vh; 
    overflow: hidden;
}
.newsImage{
    width: 100vw;
    height: 32vh;
    object-fit: cover;
    object-position: center top;
}
.newsTitle{
    padding: 1rem 1rem 0 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.newsBody{
    padding: 1rem;
    text-align: justify;
}
.readMore{
    padding: 1rem 1rem 0 1rem;
    color: #4C71F0;
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (min-width: 600px) {
    
}