.verticalSwiper {
    width: 100vw;
    height: 85vh; 
    overflow: hidden;
}
.newsImage{
    width: 100vw;
    height: 32vh;
    object-fit: cover;
    object-position: center top;
}
.newsTitle{
    padding: 1rem 1rem 0 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.newsBody{
    padding: 1rem;
}
.newsBodyLong{
    display: none;
}
.readMore{
    padding: 1rem 1rem 0 1rem;
    color: #4C71F0;
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (min-width: 600px) {
    .newsCotainer{
        display: flex;
        /* align-items: center; */
        justify-content: center;
    }
    .newsImageContainer{
        width: 50vw;
    }
    .newsImage{
        width: 50vw;
        height: 100vh;
        object-fit: cover;
        object-position: center;
    }
    .newsTitle{
        font-size: 2rem;
    }
    .newsBody{
        display: none;
    }
    .newsBodyLong{
        padding: 1rem;
        display: block;
        font-size: 1rem;
    }
}