
.navbar, .darkmodeNavbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 10;
    padding: 10px;
    background-color: #dad9d9;
}
.darkmodeNavbar{
    background-color: white;
}
.navbarElements{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: black
}
.activeNavbarElements{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: #4C71F0;
}
.icon{
    font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
    .navbar, .darkmodeNavbar{
        padding: 4px;
        gap: 10rem;
        justify-content: center;
    }
    .icon{
        font-size: 1.2rem;
    }
    .navbarText{
        font-size: 0.9rem;
    }
    
}