.newsCards{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}
.newsCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 88vw;
    border: none;
    border-radius: 1rem;
    background-color: #ededed;
}
.newsImage{
    width: 88vw;
    height: 12rem;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.newsDetailsContainer{
    padding: 1rem 10px;
}
.newsTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: black
}
.newsTitle{
    font-size: 1rem;
    font-weight: bolder;
}
.saveIcon{
    background-color: #4c71f0;
    font-size: 1.8rem;
    color: white;
    border-radius: 50%;
    padding: 5px
}
.newsAuthorAndDate{
    font-size: 0.8rem;
    margin: 10px 0;
    color: #4c71f0;
    font-weight: bold;
}
.newsbody{
    font-size: 0.9rem;
    color: black;
}
.readMore{
    font-size: 0.8rem;
    color: #4c71f0;
    font-weight: bolder;
    text-decoration: underline;
}